@model List<AutentificacionAutorizacion.Models.UsuarioDTO>

@{
    ViewBag.Title = "Usuarios";
}

<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Crear")
</p>

<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Restablecer</th>
        <th>Confirmado</th>
        <th>Acciones</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nombre</td>
            <td>@item.Correo</td>
            <td>@item.Restablecer</td>
            <td>@item.Confirmado</td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.IdUsuario }) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdUsuario })
            </td>
        </tr>
    }
</table>
